@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,400;0,600;0,700;0,800;1,600&family=Poppins:wght@200;300;400;500;700&family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,700&display=swap');
*, *::after, *::before{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
:root{
    --primaryColor:hsl(240, 69%, 24%);
    --secondaryColor:hsl(240, 69%, 50%);
    --tertiaryColor: yellow;
    --otherColor:rgb(229, 229, 248);
}
body{
    font:14px/1.5 'Poppins', Sans-serif;
    color:#222;
    background:#f1f4f5;
}
.construction h2{
    margin:10px;
    text-transform: capitalize;
    font-size: 1.8rem;
}
.construction p{
    margin-bottom:30px;
    display:block;
}
.loader{
    height:100vh;
    width:100vw;
    background:var(--otherColor);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.construction{
    position:relative;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.construct{
    
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    /* background:var(--otherColor); */
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.background{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
.background img{
    width:100%;
    height:100%;
    object-fit: cover;
}
.background::before{
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    /* background:rgba(36, 35, 35, 0.2); */
}
 .loader h1, .construction h1{
    color:var(--primaryColor);
    margin:20px auto;
    text-align: center;
    font-family: 'Cooper black';
    font-size:2.1rem;
    animation:.8s beep 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
.loader img, .construct img{
    width:15%;
    transform: scale(0);
    animation:.8s beep 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
@keyframes beep{
    to{
        transform: scale(1.2);
    }
}
.main{
    display:none;
}
h2, h3{
    font-family: 'Lato';
}
a{
    color:var(--primaryColor);
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
button{
    background: var(--primaryColor);
    color:#fff;
    padding:5px;
    cursor:pointer;
    transition:.3s all ease-in-out;
}
button:hover{
    background: var(--secondaryColor);
}
.top_head{
    width:100%;
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding:1px 20px;
}
.social_media a{
    font-size:1.2rem;
    transition:.3s all ease-in-out;
}
.social_media a:hover{
    opacity:.6;
}
.contact_phone i{
    font-size:1.2rem;
    color:var(--primaryColor);
}
header{
    width:100%;
    background:#fff;
    position: sticky;
    top:0;
    left:0;
    display:flex;
    justify-content: space-between;
    align-items:center;
    min-height:10vh;
    box-shadow: 2px 2px 2px 2px #c4c4c4;
    z-index:2;
    padding:5px 50px;
}
.logo{
    width:20vw;
    height:10vh;
    
}
.logo a{
    width:100%;
    height:100%;
    display:flex;
    align-items: center;
}
.logo img{
    width:30%;
    height:100%;
}
.logo a span{
    font-family:'cooper black', 'Lora', 'sans-seriff';
    font-size:2.5rem;
    padding-left:2px;
}
.search input{
    width:20vw;
    padding:5px;
    border-radius:5px;
}
.search form{
    display:flex;
}
.search button{
    background: var(--primaryColor);
    color:var(--tertiaryColor);
    padding:6px 12px;
    margin:0 5px;
    border-radius:5px;
    box-shadow:2px 2px 2px #a1a0a0;
    border:0;
}
.mobilesearchbtn{
    display:none;
}
#navigation{
    margin:0 2px;
}
#navigation ul{
    display:flex;
    justify-content: space-around;
    align-items: center;
}
#navigation ul li{
    list-style:none;
    margin:0 10px;
}
#navigation ul li input{
    background:transparent;
    border:none;
    text-transform: capitalize;
    border-radius:10px;
    font-size:1rem;
    padding:5px 10px;
    transition: .3s all;
    border-bottom:2px solid var(--primaryColor);
    
}
#navigation ul li input:hover, #navigation ul li input:focus{
    background: var(--primaryColor);
    color:var(--tertiaryColor);
}
#navigation button{
    color:var(--tertiaryColor);
}
/*.login{
    position:relative;
}
#loginDiv{
    background:transparent;
    border-radius:0;
    border:none;
    color:#222;

}
#loginDiv:hover{
    color:chocolate;
    background:#f1f0f0;
}
.login_option{
    display:none;
    position:absolute;
    background:#fff;
    min-width:15vw;
    padding:10px 0;
    z-index:2;
    box-shadow: 1px 1px 1px 1px #c4c4c4;
}
.login_option div{
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}
.login button{
    background:chocolate;
    margin:0 2px;
    color:#fff;
    padding:5px;
    border-radius:5px;
}
.login button i{
    padding:10px;
}
.login_option h3{
    font-size:1.1rem;
    margin:10px;
    opacity:.7;
}
#loginBtn{
    display:block;
    width:70%;
    padding:10px 5px;
    border:none;
    box-shadow:2px 2px 2px 2px #e2e2e2;
}
#loginBtn a{
    color:#fff;
    padding:20px;
}
#signupBtn{
    color:chocolate;
    background:transparent;
    padding:15px;
    display:block;
    width:100%;
    text-align:center;
    border-top:2px solid rgb(231, 226, 226);
    border-bottom:2px solid #c4c4c4;
    text-transform: uppercase;
}
.signupBtn{
    background:transparent;
    padding:15px;
    display:block;
    width:100%;
    text-align:center;
    border-top:2px solid rgb(231, 226, 226);
    border-bottom:2px solid #c4c4c4;
    text-transform: uppercase;
    color:#222;
}
.signupBtn:hover, .signupBtn:focus{
    background:rgb(231, 226, 226);
}
#logoutBtn{
    display:block;
    width:70%;
    padding:10px;
    border:none;
    margin:10px 0;
    
    box-shadow:2px 2px 2px 2px #e2e2e2;
}
#logoutBtn a{
    color:#fff;
    padding:10px 5px;
}
.cart{
    margin-right:10px;
}
.cart a{
    color:#222;
}
.cart a:hover, .cart a:focus{
    color:chocolate;
}
.cart a #cart_value{
    padding:5px;
    background:var(--primaryColor);    
    color:#fff;
    border-radius:50%;
}*/
header i{
    font-size:1rem;
}
.menu_icon{
    display:none;
}
#bannerContents{
    width:90%;
    margin:10px auto;
    display:flex;
    align-items:flex-start;
}
#mobile_menu{
    display:none;
}
#asideLeft{
    background:#fff;
    border-radius:5px;
    width:17%;
    /* text-align:center; */
    box-shadow: 2px 2px 2px 2px #c4c4c4;
    margin-right:10px;
    height:420px;
}
#asideLeft img{
    width:100%;
    height:100%;
    object-fit: cover;
}
.adds_non{
    position:relative;
    top:0;
    left:0;
    height:100%;
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    text-align:center;
}
.adds_non p{
    position:absolute;
    
}
#asideLeft nav{
    padding:10px;
    width:100%;
}
#asideLeft li{
    list-style:none;
    margin:10px 0;
}
#asideLeft li a{
    color:rgba(68, 66, 66, .8);
    font-size:1rem;
    padding:10px 0;
    transition:.2s all ease-in-out;
}
#asideLeft li input{
    color:rgba(68, 66, 66, .8);
    font-size:1rem;
    border:none;
    background:transparent;
    padding:0;
    transition:.2s all ease-in-out;
    cursor: pointer;
}

#asideLeft li i{
    margin-right:4px;
    color:rgba(68, 66, 66, .8);
}
#asideLeft li form:hover i, #asideLeft li:hover a, #asideLeft li:focus a, #asideLeft li form:focus i, #asideLeft li form:hover input, #asideLeft li form:focus input{
    color:var(--primaryColor);
}
#banner{
    overflow: hidden;
    width:65%;
    box-shadow: 2px 2px 5px 2px #c4c4c4;
    margin:0 5px;
    height:420px;
} 
#banner .slide{
    width:400%;
    position:relative;
    left:0;
    animation:20s slide infinite;
    height:100%;
}
@keyframes slide{
    0%{
        left:0;
    }
    20%{
        left:0;
    }
    25%{
        left:-100%;
    }
    45%{
        left:-100%;
    }
    50%{
        left:-200%;
    }
    70%{
        left:-200%;
    }
    75%{
        left:-300%;
    }
    100%{
        left:-300%;
    }
}

.slide .slides{
    width:25%;
    height:100%;
    float:left;
    position:relative;
}
.slides .slide_img{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
}
.slides .slide_img img{
    width:100%;
    height:100%;
    object-fit:cover;
}
.slide_img:after{
    content:"";
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background:rgba(34, 34, 34, .4);
}
.description{
    position:absolute;
    bottom:10%;
    left:0;
    margin:10px;
    width:50%;
    display:flex;
    flex-direction: column;
    
    color:#fff;
}
.description h2{
    text-transform: uppercase;
    font-size:1.6rem;
}
.description p{
    font-size:1.1rem;
    margin:5px;
}
.description .links{
    margin-top:10px;
}
.description a{
    background:transparent;
    border:2px solid #fff;
    color:#fff;
    text-transform: uppercase;
    padding:10px 15px;
    transition: .3s all ease-in-out;
    width:auto;
    border-radius:5px;
}
.description a:hover, .description a:focus{
    background:var(--primaryColor);
}
.description .links a:nth-child(2){
    background:var(--primaryColor);
}
.description .links a:nth-child(2):hover, .description .links a:nth-child(2):focus{
    background: var(--primaryColor);
}
#asideRight{
    width:17%;
    margin-left:10px;
}
#help{
    box-shadow: 2px 2px 5px 2px #c4c4c4;
    min-height:200px;
    background:var(--primaryColor);
    border-radius:5px;
    padding:10px;
    width:100%;
    margin-bottom:10px;
}
#asideRight li{
    list-style:none;
    margin:0;
}
#asideRight li a{
    color:#fff;
    display:flex;
    align-items:center;
    font-size:.9rem;
    padding:10px 0;
    transition:.2s all ease-in-out;
}
#asideRight li a:hover, #asideRight li a:focus{
    color:var(--tertiaryColor);
    /* border-radius:3px;
    border-bottom:1px solid chocolate; */
}
#asideRight li a i{
    margin-right:5px;
    color:var(--tertiaryColor);
    font-size:2rem;
}
.note h3{
    font-size:.8rem;
    word-spacing: 3px;
    text-transform: uppercase;
}
.note p{
    font-size:.8rem;
}
#adds{
    box-shadow: 2px 2px 5px 2px #c4c4c4;
    height:200px;
    border-radius:5px;
    width:100%;
    /* background:#000; */
    /* color:var(--tertiaryColor); */
}
#adds img{
    width:100%;
    height:100%;
}
#links{
    width:90%;
    margin: 0 auto;
    display:flex;
    justify-content: space-between;
    align-items:center;
}

.link_tags{
    height:80px;
    display:flex;
    align-items:center;
    text-align:center;
    padding:10px;
    color:#fff;
    text-transform: capitalize;
    background:#000;
    border-radius: 1px;
    width:30%;
    margin:5px 10px;
    box-shadow: 2px 2px 5px 2px #c4c4c4;
}
.link_tags img{
    width:100%;
    height:100%;
}
/*.link_tags:hover, .link_tags:focus{
    color:var(--tertiaryColor);
} 
.link_tags a{
    
}
.link_tags a i{
    margin-right:5px;
    font-size:1.2rem;
}
.link_tags a:hover, .link_tags a:focus{
    color:var(--tertiaryColor);
} */
main{
    width:90%;
    margin:0 auto;
}
#featured{
    display:none;
    margin:50px 0;
    /* background:#fff; */
    /* box-shadow: 2px 2px 5px 2px #c4c4c4; */
    animation: 1s slideInLeft 1;
    animation-timing-function: linear;
}
@keyframes slideInLeft{
    from{
        transform:translateX(100%);
    }
    to{
        transform : translateX(0);
    }
}
#featured h2{
    /* background:#000; */
    color:rgba(66, 65, 65, .8);
    padding:5px;
    text-align:center;
    text-transform:uppercase;
}
#featured hr{
    width:50px;
    height:4px;
    margin:auto;
    border-radius: 5px;
    background: var(--primaryColor);
    color: rgba(161, 159, 159, 0.3);
}
.featured{
    display:flex;
    justify-content: space-around;
    flex-wrap:wrap;
    padding:10px 0;
    height:auto;
    transition: .5s all;
}
.featured figure, .all_items figure{
    width:21%;
    box-shadow:2px 2px 2px 2px #c4c4c4;
    transition:.2s all ease-in-out;
    margin:20px;
    background:#fff;

}
/* .featured figure a{
    display:flex;
} */
.featured h3, .each_cat h3, .todo h3{
    color:rgba(54, 53, 53, 0.9);
    font-size:1rem;
}
.featured figure:hover, .all_items figure:hover, .featured figure:focus, .all_items figure:focus, .results figure:hover, .results figure:focus, .each_cat figure:hover, .each_cat figure:hover:focus{
    transform:scale(1.05);
}
.featured figure:hover h3, .featured figure:focus h3{
    color:var(--secondaryColor);
}
.featured img, .all_items img, .each_cat img{
    width:100%;
    height:150px;
    
}
.featured p, .each_cat p{
    font-size:.9rem;
}
.featured figcaption, .all_items figcaption, .each_cat figcaption{
    padding:5px;
    /* display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items: flex-end; */
}
.featured .post_date{
    opacity:.6;
}
.post_date{
    float:right!important;
    color:var(--secondaryColor)!important;

}/* 
.featured figcaption button, .all_items figcaption button{
    padding:0;
    background:transparent;
    border:none;
    box-shadow:none;
    margin:0;
}
.featured figcaption button i, .all_items figcaption button i{
    font-size:1.3rem;
    color:var(--primaryColor);
    opacity:.7;
}*/
.featured figcaption p, .all_items figure a p, .each_cat figure p{
    font-size:.9rem;
    padding:0;
    margin:0;
    color:rgb(124, 123, 123);
}
/* .featured figcaption span{
    font-weight:bold;
    font-size:1.1rem;
    color:var(--primaryColor);
}
#featured button, #all_items button, #popular button{
    margin:10px;
    text-align:center;
    display:block;
    border:none;
    border-radius:5px;
    padding:10px;
} */
#featured .archive{
    margin:10px auto;
    display:block;
    text-align: center;
}
#featured .archive a{
    color:var(--tertiaryColor);
    background:var(--primaryColor);
    padding:8px;
    border-radius:5px;  
    text-align:Center;
    box-shadow: 2px 2px 2px 2px #727070;
    
}
#featured button:hover, #featured button:focus #all_items button:hover, #all_items button:focus, #popular button:hover, #popular button:focus{
    background:var(--secondaryColor);
}
#featured #show_less, #all_items #less, #popular #less_popular{
    display:none;
    margin:0 auto;
    text-align:center;
    box-shadow:2px 2px 2px 2px #c4c4c4;

}
/* .featured img:hover, .featured img:focus{
    box-shadow: 2px 2px 5px 3px #c4c4c4;
} */
/* News Groups */
.groups{
    display:flex;
    justify-content: center;
    flex-wrap:wrap;

}
.groups .each_cat{
    width:31%;
    margin:12px;
    height:auto;
    
}
.groups .each_cat h2{
    
    text-transform: uppercase;
    font-size:1.2rem;
}
.groups hr{
    color:rgba(90, 88, 88, 0.3)
}
.groups .each_cat .divs{
    width:100%;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}
.groups .each_cat h3{
    font-size:.9rem;
}
.groups .each_cat p{
    font-size:.8rem;
}
.each_cat figure{
    background:#fff;
    width:45%;
    box-shadow:2px 2px 2px 2px #c4c4c4;
    transition:.2s all ease-in-out;
    margin:10px 5px;
}
.each_cat button{
    border:none;
    text-align:center;
    border-radius:4px;
    box-shadow: 2px 2px 2px #918d8d;
    display:block;
    width:auto;
    margin:10px auto;
    color:var(--tertiaryColor);
    padding:10px;
}
.each_cat figure img{
    width:100%;
    height:100px;
}
.each_cat figcaption{
    text-align:left!important;
}
.each_cat figure .post_date{
    opacity:.5;
}
/* login and registration */
#login_reg{
    display:flex;
    background:#fff;
    box-shadow: 2px 2px 5px 3px #c4c4c4;
    position:relative;
    top:10vh;
    width:80%;
    margin:auto;
    max-height: fit-content;
    padding:5px 0;
}
#login_reg .login_details{
    padding:20px;
    width:45%;
}
#login_reg h2{
    color:rgba(66, 65, 65, .8);
    font-size:1.1rem;
    margin-bottom:10px;
}
#login_reg input{
    padding:10px;
    width:100%;
}
#login_reg button{
    min-width:200px;
    border:none;
    padding:10px;
    margin-top:10px;
    font-size:.9rem;
}
#login_reg button:hover, #login_reg button:focus{
    background:#000;
}
#login_reg .reg_details{
    padding:20px;
    width:50%;
    border-left:2px solid rgba(66, 65, 65, .8);
}
.reg_details .details{
    display:flex;
    justify-content: space-between;
    margin-bottom:20px;
}
#login_reg .reg_details .details input{
    width:47%;
}
#login_reg .reg_details button{
    background:#000;
}
#login_reg .reg_details button:hover, #login_reg .reg_details button:focus{
    background:chocolate;
}

.error p{
    background:rgb(243, 143, 143);
    color:#fff;
    margin-bottom:5px;
    text-align:center;

}
.success{
    width:70%;
    margin:30px auto 0;
}
.success p{
    background:green;
    color:#fff;
    text-align:center;
    font-size:1.1rem;
    padding:5px;
}

#loginPrompt{
    position:fixed;
    display:none;
    top:30vh;
    left:40%;
    width:20%;
    transform:scale(0);
    background:rgb(0, 0, 0);  
    padding:20px;
    /* border-radius:10px; */
    text-align:center;
    /* box-shadow: 2px 2px 2px 2px #dfdede; */
    z-index:3;
    animation:.5s displayLogin 1;
    animation-fill-mode:forwards;
}
@keyframes displayLogin{
    to{
        transform:scale(1);
    }
}
#loginPrompt p{
    margin:20px;
    font-size:1.3rem;
    color:#fff;
    font-family:'monotype corsiva';
}
#loginPrompt .log{
    display:flex;
    justify-content: space-between;
}
#loginPrompt .log a{
    padding:10px 15px;
    color:#fff;
    background:green;
    margin:10px;
    border-radius: 10px;
}
#loginPrompt .log a:nth-child(even){
    background:red;
}
#itemContent{
    padding:5px;

}
.advertss{
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin:10px 0;
}
#itemContent .itemInfo{
    width:80%;
    margin:50px auto 10px;
    /* background:#fff; */
    padding:0;
    /* box-shadow:2px 2px 2px 2px #c4c4c4; */
}
#itemContent .itemInfo figure{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.itemInfo figcaption{
    /* display:flex; */
    /* justify-content: space-between;
    align-items: center; */
    background:#fff;
    margin-top:20px;
    box-shadow:2px 2px 2px 2px #c4c4c4;
}
.itemInfo .post_date{
    color:var(--secondaryColor)!important;
    opacity: .7;
}
#itemContent .itemInfo .content_img{
    width:100%;
    height:350px;
    display:block;
}
#itemContent .itemInfo img{
    width:100%;
    height:100%;
    /* object-fit: cover; */
}
#itemContent figure h3{
    color:rgba(54, 53, 53, 0.9);
    text-align:center;
    text-transform: uppercase;
    font-size:1.5rem;
}
#itemContent .itemInfo figure figcaption p{
    font-size:1rem;
    color:rgba(54, 53, 53, 0.7);
    padding:5px;
}
#itemContent .itemInfo figure figcaption p span{
    font-weight:bold;
    color:rgb(59, 59, 59, .8);
    width:50%;

}
.post_title{
    justify-content: space-between;
    align-items: flex-start!important;
}
/* .post_title h3{
    text-transform: uppercase!important;
    color:rgba(90, 88, 88, 0.8)!important;
} */
#itemContent .itemInfo .item_descriptions{
    text-align:justify;
    padding:10px;
    box-shadow:2px 2px 2px 2px #c4c4c4;
}/* 
#itemContent .itemInfo hr{
    background:rgba(56, 39, 39, 0.2);
    color:rgb(92, 90, 90, .1);
    width:50px;
    height:5px;
    margin:auto;
} */
#itemContent .itemInfo .item_descriptions h3{
    text-transform: capitalize;
    color:var(--primaryColor);
    padding:10px 0;
}
#itemContent .itemInfo .item_descriptions p{
    color:rgba(66, 65, 65, .8);
    padding:5px;
}
.related{
    /* background:#fff;
    box-shadow:2px 2px 2px #c4c4c4; */
    padding: 0!important;
    margin:0;
    text-transform:capitalize;
}
.related h2{
    margin:0;
    text-align: center;
    color:rgba(54, 53, 53, 0.8)!important;
   
    padding:5px;
}
.reated hr{
    width:50px;
    height:5px;
    background:var(--primaryColor);
    border-radius: 10px;
}/* 
.related img{
    display:none;
} */
.related .post_date{
    opacity:.7;
    /* float:right; */
}
.post_date{
    float:none!important;
    padding:5px;
}
/* all items */
#all_items, #recommendedItems, #popular{
    background:#fff;
    box-shadow:2px 2px 2px 2px #c4c4c4;
    padding:0 0 20px 0;
    margin:50px 0;
}
#all_items{
    display:none;
    animation:1s slideFromBottom 1;
    animation-timing-function: linear;
}
@keyframes slideFromBottom{
    0%{
        transform:translateY(100%);
    }
    100%{
        transform:translateY(0);
    }
}
#all_items h2, #recommendedItems h2, #popular h2{
    background:#000;
    color:#fff;
    padding:5px 10px;
    text-transform: capitalize;
}
.all_items{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height:280px;
    padding:15px;
    overflow: hidden;
    margin:20px 0;
    
}
/* Popular items */
#popular{
    display:none;
    transform:scale(0);
    opacity:0;
    animation:1s showPopular 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-delay: .5s;
}
@keyframes showPopular{
    100%{
        opacity:1;
        transform: scale(1);
    }
}
#popular h2 i{
    font-size:.9rem;
}
/* #recommendedItems .all_items, .popular_items{
    height:auto;
} */
.all_items figcaption span{
    color:var(--primaryColor);
}
#searchResults{
    padding:10px;
    margin-top:50px;
}
#searchResults h2{
    color:var(--primaryColor);
    text-align:center;
}
#searchResults hr{
    width:50px;
    height:5px;
    border-radius:5px;
    margin:10px auto;
    background:var(--secondaryColor);
}
#searchResults .results{
    display:flex;
    justify-content: space-around;
    flex-wrap:wrap;

}
#searchResults .results .no_result{
    margin:20px;
    font-size:1.3rem;
    text-transform: capitalize;
    color:rgb(65, 38, 38);
}
#searchResults .results figure{
    width:21%;
    margin:20px;
    
    box-shadow:2px 2px 2px 2px #c4c4c4;
    transition:.2s all ease-in-out;
    background:#fff;
}
#searchResults .results figure a{
    color:initial;
}
#searchResults .results figure img{
    width:100%;
    height:150px;
    /* border-radius:10px; */
}
#searchResults .results figure figcaption{
    padding:5px;
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
}
/* #searchResults .results figure figcaption .todo{
    opacity:.7;
} */
/* #searchResults .results figure figcaption button{
    border:none;
    background:transparent;
    padding:0;
    margin:0;
} 
#searchResults .results figure figcaption button i{
    font-size:1.3rem;
    color:var(--primaryColor);
}
#searchResults .results figure figcaption .first{
    font-weight:bold;

}*/
#searchResults .results figure figcaption span{
    color:var(--primaryColor);
}

#searchResults .results figure figcaption .todo p{
    font-size:.9rem;
    color:rgba(119, 116, 116, 0.9);
}
#shoppingCart{
    width:80%;
    margin:20px auto;
}
#shoppingCart h2{
    text-align:center;
    color:var(--primaryColor);
}
#shoppingCart hr{
    width:50px;
    height:5px;
    margin:10px auto;
    background:#222;
    border-radius:5px;
    
}
#shoppingCart .shop_cart{
    display:flex;
    justify-content: space-between;
    width:100%;
    background:#fff;
}
#shoppingCart .shop_cart .cart_items{
    width:60%;
    padding:10px;  
}
#shoppingCart .shop_cart .cart_items figure{
    height:200px;
    margin:20px 10x;
    display:flex;
    align-items:center;
}
#shoppingCart .shop_cart .cart_items figure img{
    width:150px;
    height:150px;
    border-radius:5px;
    margin-right:20px;
}
#shoppingCart .shop_cart .cart_items figure figcaption{
    margin:5px;
}
#shoppingCart .shop_cart .cart_items figure figcaption .action{
    display:flex;

}
#shoppingCart .shop_cart .cart_items figure figcaption .action i{
    font-size:1.4rem;
    margin:4px;
    color:red;
}
#shoppingCart .shop_cart .cart_items figure figcaption .action input{
    width:50px;
    border-radius:10px;
    padding:4px;
}
#shoppingCart .shop_cart .cart_items figure figcaption .action button{
    background:rgb(177, 175, 175);
    border-radius:10px;
}
#shoppingCart .shop_cart .total{
    width:30%;
    background:linear-gradient(45deg, hsl(0, 0%, 0%), hsla(0, 10%, 0%, .7));
    box-shadow:2px 2px 2px 2px #c4c4c4;
    margin:10px;
    border:1px solid #c4c4c4;
    padding:10px;
    color:#fff;

}
#shoppingCart .shop_cart .total h3{
    text-align:center;
    font-size:1.2rem;
    color:#fff;
}
.total_per_item{
    font-size:1.1rem;
    margin-top:20px;
    /* color:var(--primaryColor); */
}
.total_per_item span{
    float:right;
}
#shoppingCart .total hr{
    width:100%;
    height:1px;
    color: rgba(202, 195, 195, 0.2);
    background:rgba(202, 195, 195, 0.2);
}
/* quantity */
#quantity{
    padding:8px;
    border-radius:5px;
    /* appearance: textfield; */
}
/* #grand{
    width:100%;
    height:1px;
    background:rgba(68, 66, 66, .2);
} */

.empty{
    text-align:center;
    padding:10px;
    color:var(--primaryColor);
    font-size:1.5rem;
}
.successful{
    text-align: center;
    color:green;
    font-size:1rem;
    background:#fff;
    border-radius:5px;
}
.error_box{
    position:absolute;
    top:30vh;
    left:40vw;
    width:20vw;
    box-shadow:2px 2px 2px 2px #c4c4c4;
    background:#fff;
}
.error_box p{
    text-align: center;
    color:red;
    padding:20px;
}
.error_box button{
    background:var(--primaryColor);
    color:#fff;
    padding:10px;
    border:none;
    text-align:center;
}
.clear{
    clear:both;
}
.order_or_clear{
    display: flex;
    justify-content: space-around;
    align-items:center;
    margin:20px 0;
    
}
.order_or_clear form button{
    border:none;
    padding:10px;
    text-transform: uppercase;
    border-radius:5px;
}
.order_or_clear .order_form button{
    background:green;
}
.order_or_clear .clear_cart_form button{
    background:red;
}
#history{
    width:90%;
    margin:50px auto;
}
#history h2{
    text-align:center;
    color:chocolate;
}
#history hr{
    width:50px; 
    height: 5px;
    margin:10px auto;
    background:chocolate;
    color:chocolate;
}
#history .order_history{
    background:#fff;
    padding:10px;
}
#history .order_history figure{
    display:flex;
    border-bottom:1px solid rgb(207, 200, 200);
    margin:20px 0;
    width:100%;
    padding:5px;
}
#history .order_history figure img{
    width:200px;
    height:150px;
    margin-right:10px;
}
#history .order_history figure figcaption{
    width:70%;
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
}
#history .order_history figure figcaption .order_details{
    padding:2px;
    color:rgba(54, 53, 53, 0.8);
    font-size:.9rem;
}
#history .order_history figure figcaption .status_order{
    
    color:#fff;
    
    font-size:.9rem;
}
#account .profile_details{
    width: 80%;
    margin:30px auto;
    background:#fff;
    padding:5px;
    display:flex;
    flex-wrap:wrap;
    align-items: flex-start;
}

#account .profile_details .userss{
    width:45%;
    margin:20px auto;
    border:1px solid rgb(177, 175, 175);
    padding:10px;
    color:rgba(66, 65, 65, .8);
}
#account .profile_details .userss h3{
    color:chocolate;
    border-bottom:1px solid rgba(177, 175, 175, .3);
    margin-bottom:10px;
}
#account .profile_details #user_details h4{
    text-transform:uppercase;
}
#account .profile_details #user_address .add{
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
} 
#account .profile_details #change_password{
    margin:20px;
    border:none;
}
#account .profile_details #change_password a{
    background:chocolate;
    padding:10px;
    text-align:center;
    color:#fff;
    width:50%;
}
#account .profile_details #change_password a:hover{
    background:#000;
}
.update_details{
    display:none;
    background:#fff;
    padding:10px;
    width:80%;
    margin:20px auto;
}
.update_details form{
    width:90%;
    margin:auto;
}
.update_details .update{
    display:flex;
    justify-content: space-between;
    align-items:center;
    margin:10px 0;
}
.update_details .update .update_data{
    width:46%;
    margin:10px 0;

}
.update_details .update .update_data label{
    color:rgba(124, 121, 121, 0.9);
}
.update_details .update .update_data input, .update_details .update .update_data select{
    width:100%;
    padding:10px;
    border:none;
    border-bottom:1px solid rgba(124, 121, 121, 0.9);
    font-size:.9rem;
}
.update_details button{
    margin:10px 0;
    padding:10px;
    border:none;
    display: block;
    font-size:1rem;
}
#close_update{
    font-size:1.5rem;
    float:right;
}
.change_password{
    width:80%;
    margin:auto;
    display:none;
    animation:.3s showPassword 1;
}
@keyframes showPassword{
    0%{
        transform:translateY(100%);
    }
    100%{
        transform:translateY(0%);
    }
}
.change_password h3{
    color:rgba(68, 67, 67, 0.9);
    margin-bottom:20px;
}
.change_password form{
    margin:20px 0;
    width:50%;
    background:#fff;
    padding:20px;
}
.change_password form label{
    color:rgba(124, 121, 121, 0.9);
}
.change_password form input{
    width:100%;
    margin-bottom:20px;
    padding:10px;
    border-radius:2px;
    background:rgb(239, 243, 245);
    border:none;
    border-bottom:1px solid rgba(124, 121, 121, 0.9);
    
}
.change_password form button{
    border:none;
    padding:10px;
    margin:20px 0;
    font-size:.9rem;
    width:100%;
    
}
footer{
    /* background:#000; */
    margin-top:50px;
    position:relative;
    bottom:0;

}
#main_footer{
    width:90%;
    margin:0 auto;
    padding:20px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    color:rgba(54, 53, 53, 0.7);
}
#main_footer hr{
    margin-bottom: 20px;
}
#main_footer .section{
    width:30%;
    text-align:center;
}
.section h3{
    color:#fff;
    text-transform: uppercase;
    font-family: 'lora', sans-serif;
    font-size:1rem;
}
#contactSection a{
    padding:10px;
    background:var(--otherColor);
    margin:5px;
    border-radius: 5px;
    color:var(--secondaryColor);
    transition:.2s all ease-in-out;
    
}
#contactSection a:hover, #contactSection a:focus{
    background:var(--primaryColor);
    color:var(--tertiaryColor);
}
.fone{
    display:flex;
    align-items:Center;
    margin:20px 0;
}
.fone .icons{
    margin-right:10px;
}
.fone .icons i{
    font-size:2.4rem;
    color:var(--primaryColor);
}
.map{
    height:300px;
}
.map iframe{
    width:100%;
    height:100%;
}

.contact_form input, .contact_form textarea{
    display:block;
    padding:5px;
    border-radius:5px;
    margin:10px 0;
    width:100%;
}

.contact_form button{
    margin:5px 0;
    box-shadow: 2px 2px 2px #c4c4c4;
    border:none;
    padding:10px;
    border-radius:4px;
}
#subscribeCats #subscriptions{
    margin:10px 0 20px;
}
#subscribeCats #subscriptions input{
    padding:10px;
    border-radius:10px 0 0 10px;
}
#subscriptions button{
    padding:10px;
    border-radius: 0 10px 10px 0;
    transition:.3s all ease-in;
}
#subscriptions button:hover{
    background:var(--secondaryColor);
    color:#fff;
}
#footCat{
    margin:10px 0;
}
#footCat li{
    list-style: none;
    margin:5px 0;
    cursor:pointer;
    transition:.3s all ease-in-out;

}
#footCat li:hover, #footCat li:focus{
    color:var(--secondaryColor);
    transform:scale(1.1);

}
#footCat li a{
    color:rgb(207, 200, 200);
}
#footCat li a i{
    margin-right:5px;
}
#footCat li input{
    border:none;
    background:transparent;
    color:rgba(241, 239, 239, .8);
    cursor:pointer;
    font-size:.9rem;
    transition:.3s all ease-in-out;
}
#footCat li input:hover, #footCat li input:focus{
    color:var(--secondaryColor);
    transform:scale(1.1);
}
#socialMedia h3{
    margin-bottom:5px;
}
#socialMedia .social a{
    color:rgb(177, 175, 175);
    margin:5px;
}
#socialMedia .social a img{
    width:50px;
}
#links_Soc li{
    list-style-type: circle;
    padding:5px 0;
}
#links_Soc li a{
    color:var(--secondaryColor);
    font-size:1rem;
}
#links_Soc li a:hover, #links_Soc li a:focus{
    text-decoration: underline;
}
#secondary_footer{
    background:#222;
    color:#fff;
    text-align:Center;
    padding:5px;
}
#secondary_footer a{
    color:var(--tertiaryColor);
}
.appointment_page, .contact_form{
    position:fixed;
    z-index:2;
    width:100%;
    top:10vh;
    opacity:0;
    transform:scale(0);
    display:none;
    animation:.5s showAppoint 1;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}
@keyframes showAppoint{
    100%{
        opacity:1;
        transform:scale(1);
    }
}

#appointment_page, .contact_form form{
    padding:20px;
    background:rgb(0, 0, 0);
    width:60%;
    margin:20px auto;
}
#appointment_page #close, .contact_form #close_en{
    float:right;
    right:0;
}
#appointment_page #close a, .contact_form #close_en a{
    color:#fff;
    font-size:2rem;
}
#appointment_page h2, .contact_form h2{
    color:#fff;
    text-align:center;
    text-transform: capitalize;
    font-size:1.5rem;
    padding:10px;
}
#appointment_page h3{
    text-align:Center;
    color:#fff;
    font-size:1.2rem;
    margin-top:10px;
}
#appointment_page form{
    width:90%;
    margin:auto;
    border:2px solid #fff;
    background:var(--primaryColor);
}
#appointment_page form .inputs{
    display:flex;
    align-items:flex-end;
    justify-content: space-between;
    margin:10px;
}
#appointment_page form .inputs .data{
    width:48%;
    margin:5px;
}
#appointment_page form .inputs .data label{
    color:#fff;
}
#appointment_page form .inputs .data input, #appointment_page form .inputs .data select{
    width:100%;
    padding:10px;
    border:none;
    border-radius: 10px;
    background:transparent;
    border-bottom:2px solid #c4c4c4;
    color:#eeeaea;
}
#appointment_page form .inputs .data select:hover, #appointment_page form .inputs .data select:focus{
    background:var(--primaryColor);
}
#appointment_page form .inputs .data textarea{
    width:100%;
    
}
#appointment_page form .inputs .data button, .contact_form button{
    padding:10px;
    background:var(--secondaryColor);
    transition: .3s all ease-in-out;
    color:var(--tertiaryColor);
}
#appointment_page form .inputs .data button:hover, #appointment_page form .inputs .data button:focus{
    background:var(--primaryColor);
}
.toTop{
    display:none;
    position:fixed;
    bottom:2vh;
    right:2vh;
    padding:5px;
    border-radius:10px;
    background:var(--primaryColor);
    transition:.2s all ease-in-out;
}
.toTop a{
    color:var(--tertiaryColor);
    padding:10px;
    font-size:1.1rem;
}
.toTop:hover, .toTOp:focus{
    background:#000;
}
.who_we_are section{
    width:80%;
    margin: 20px auto;
    background:#fff;

}
#about_us{
    box-shadow:2px 2px 2px #c4c4c4;
}
.who_we_are h3{
    color:var(--primaryColor);
    background:var(--otherColor);
    padding:4px;
    font-size:1.1rem;
}
.about_us{
    display:flex;
    justify-content: space-between;
    flex-wrap:wrap;
}
.about_text, .about_img{
    width:47%;
}
.about_text p{
    padding:10px;
    text-align:justify;
}
.about_img img{
    width:100%;
}
#mission{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;

}
.vision, .mission{
    width:48%;
    box-shadow:2px 2px 2px #c4c4c4;
    text-align:justify;

}
.vision p, .mission p{
    padding:10px;
}
.not_found{
    text-align:center;
    color:rgb(236, 176, 132);
    font-size:1.3rem!important;
}
@media screen and (max-width:800px){
    .loader img{
        width:30%;
    }
    .top_head{
        padding:1px 5px;
    }
    .social_media a{
        font-size:1.1rem;
        
    }
    .contact_phone i{
        font-size:1.1rem;
    }
    header{
        align-items: center;
        z-index:2;
        height:6vh;
        padding:5px 10px;
    }
    .logo{
        width:15vw;
        height:6vh;
        margin:0;
        padding:0;
    }
    .logo img{
        width:100%;
    }
    .logo a span{
        font-size:1.4rem;
        display:none;
    }
    .search{
        display:none;
    }
    .main_searchbtn{
        display: none;
    }
    .search input{
        width:35vw;
    }
    .mobilesearchbtn{
        display:block;
    }
    #navigation{
        margin:0 2px;
    }
    #navigation ul li{
        margin:0 3px;
    }
    #navigation ul li input{
        font-size:.85rem;
        padding:5px;
    }
    .menu_icon{
        display: block;
    }
    .menu_icon i{
        font-size:2rem;
        border-radius:10px;
    }
    .login{
        position:relative;
        display:none;
    }
    .cart{
        display:none;
    }
    .main_cat{
        display:none;
    }
    #bannerContents{
        width:100%;
        margin:0;
        
    }
    #mobile_menu{
        position:fixed;
        top:10vh;
        width:50vw;
        height:100vh;
        margin:0;
        z-index:1;
        animation:.4s slideIn 1;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
        overflow-y:scroll;
        
    }
    @keyframes slideIn{
        from{
            transform: translateX(-100%);
        }
        to{
            transform: translateX(0);
        }
    }
    #mobile_menu #asideLeft{
        width:100%;
        margin-right:0;
        padding-bottom:0;
    }
    #mobile_menu #asideLeft li a{
        color:rgba(68, 66, 66, .8);
        font-size:.9rem;
        padding:5px 0;
        transition:.2s all ease-in-out;
    }
    #mobile_menu #asideLeft li form:hover i, #mobile_menu #asideLeft li:hover a, #mobile_menu #asideLeft li:focus a, #mobile_menu #asideLeft li form:focus i, #mobile_menu #asideLeft li form:hover input, #mobile_menu #asideLeft li form:focus input{
        /* background:var(--primaryColor); */
        color:var(--primaryColor);
    }
    #mobile_menu .login{
        display:block;
        width:100%;
        background:#000;
        text-align:center;
        color:#fff;
        padding:5px;
    }
    #mobile_menu #loginDiv{
        background:transparent;
        border-radius:0;
        border:none;
        color:#fff;
        margin:0;
        padding:5px 0;
    }
    #mobile_menu .login_option{
        display:none;
        position:absolute;
        background:#fff;
        width:90%;
        padding:10px 0;
        z-index:2;
        box-shadow: 1px 1px 1px 1px #c4c4c4;
        animation:.3s showOption 1;
        animation-timing-function: linear;
        animation-fill-mode: forwards;   
    }
    @keyframes showOption{
        from{
            transform: translateY(-100%);
        }
        to{
            transform: translateY(0);
        }
    }
    .login_option h3{
        color:#000;
    }
    
    #signupBtn{
        
        border-bottom:none;
        
    }
    
    #logoutBtn{
        display:block;
        width:70%;
        padding:10px;
        border:none;
        margin:10px 0;
        
        /* box-shadow:2px 2px 2px 2px #e2e2e2; */
    }
    .mobile_cart{
        margin:0;
        padding:0;
    }
    .mobile_cart i{
        color:#fff;
    }
    .mobile_cart #cart_value{
        padding:2px;
        background:var(--primaryColor);    
        color:#fff;
        border-radius:50%;
        margin:0;
    }
    #banner{
        width:100%;
        height:40vh;
        margin:0;
    }
    .description{
        width:80%;
    }
    .description h2{
        font-size:1.3rem;
    }
    .description p{
        font-size: 1rem;
    } 
    #asideRight{
        display:none;
    }
    #mobile_menu hr{
        background-color:rgba(221, 215, 215, 0.1);
        color:rgba(216, 210, 210, 0.1);
    }
    #mobile_menu li a{
        color:rgba(68, 66, 66, .8);
        display:flex;
        align-items:center;
        font-size:.9rem;
        padding:10px 0;
        transition:.2s all ease-in-out;
    }
   
    #mobile_menu #help li a{
        color:#fff!important;
    }
    #mobile_menu #help li a:hover, #mobile_menu #help li a:focus{
        color:var(--tertiaryColor)!important;
    }
    #mobile_menu #help li a i{
        margin-right:5px;
        color:var(--tertiaryColor);
        font-size:2rem;
    }
    /* links */
    #links{
        width:100%;
        /* align-items: stretch; */
    }
    .link_tags{
        width:24%;
        margin:2px;
        text-align:center;
        font-size:.8rem;
    }
    .link_tags a{
        padding:10px 2px;
    }
    .link_tags a i{
        margin-right:4px;
        font-size:1.1rem;
    }
    main{
        width:95%;    
    }
    #featured{
        padding:10px;
    }
    
    .featured figure, .all_items figure{
        width:47%;
        margin:5px 0 50px 0;
    }
    .featured figure:hover, .all_items figure:hover, .featured figure:focus, .all_items figure:focus, .results figure:hover, .results figure:focus{
        transform:scale(1.05);
    }
    .featured img, .all_items img, .results img{
        height:130px!important;
    }
    .featured figcaption button i, .all_items figcaption button i{
        font-size:1.2rem;
    }
    .featured figcaption span{
        font-size:1rem;
    }
    .featured h3, .each_cat h3, .todo h3{
        font-size:.9rem;
    }
    .featured p, .each_cat p, .todo p{
        font-size:.8rem;
    }
     /* login and registration */
    #login_reg{
        flex-wrap: wrap;   
        top:7vh;
        width:90%;
        
    }
    #login_reg .login_details{
        width:100%;
    }
    #login_reg h2{
        text-align: center;
    }
    #login_reg .reg_details{
        padding:20px;
        width:100%;
        border-left:none;
        border-top:2px solid rgba(66, 65, 65, .4);
    }
    .reg_details .details{
        display:flex;
        justify-content: space-between;
        margin-bottom:20px;
    }
    #login_reg .reg_details .details input{
        width:47%;
    }
    #login_reg .reg_details button{
        background:#000;
    }
    #login_reg .reg_details button:hover, #login_reg .reg_details button:focus{
        background:rgba(210, 105, 30, 0.404);
    }
    /* item info */
    .story_main{
        width:100%;
    }
    #itemContent .itemInfo{
        width:100%;
        margin:0;
        padding:0;
    }
    #itemContent figure h3{
        font-size:1.3rem;
    }
    #itemContent .itemInfo .content_img{
        max-height:300px;
    }
    #itemContent .itemInfo figure form{
        width:50%;
    }
    #itemContent .itemInfo figure figcaption p{
        font-size:.9rem;
    }
    #itemContent .itemInfo figure #quantity{
        width:100%;
    }
    #itemContent .itemInfo figure figcaption button{
        font-size:.9rem;
        
    }
    /* related artices */
    .related h2{
        font-size:1.2rem;
        background:none;
    }
    /* search resuts */
    #searchResults .results figure{
        width:47%;
        margin:10px 0;
    }
    /* shopping cart */
    #shoppingCart{
        width:95%;
    }
    #shoppingCart .shop_cart{
        flex-wrap:wrap;
        align-items:center;
    }
    #shoppingCart .shop_cart .cart_items{
        width:100%; 
    }
    #shoppingCart .shop_cart .cart_items figure{
        margin:10px 0;
    }
    #shoppingCart .shop_cart .cart_items figure figcaption{
        margin:1px;
    }
    #shoppingCart .shop_cart .total{
        width:90%;
        margin:auto;
       
    
    }
    #shoppingCart .shop_cart .total h3{
        text-align:center;
        font-size:1.2rem;
    }
    .total_per_item{
        font-size:1.1rem;
        margin-top:20px;
        /* color:var(--primaryColor); */
    }
    .total_per_item span{
        float:right;
    }
    /* quantity */
    #quantity{
        padding:8px;
        border-radius:5px;
        /* appearance: textfield; */
    }
    #account .profile_details{
        width: 97%;
        margin:20px auto;
    }
    
    #account .profile_details .userss{
        width:48%;
        padding:5px;
    }
    .update_details{
        width:95%;
    }
    .change_password{
        width:90%;
        
    }
    .change_password form{
        width:100%;
    }
    #history{
        width:95%;
        margin:40px auto;
    }
    #history .order_history{
        padding:5px;
    }
    #history .order_history figure img{
        width:150px;
        height:130px;
        margin-right:8px;
    }
    #history .order_history figure figcaption .status_order{
        font-size:.8rem;
        text-align:center;
    }
    /* News Groups */
    
    .groups .each_cat{
        width:90%;
        
    }
    .groups .each_cat h2{
        font-size:1rem;
        text-align:center;
    }
    #main_footer .section{
        width:90%;
        text-align:center;
        margin:10px auto;
    }
    #contactSection a{
        padding:8px;
    }
}
@media screen and (max-width:600px){
    .call{
        display:none;
    }
    #main_footer .section{
        width:90%;
    }
    #footCat{
        text-align:center;
    
    }
    #subscribeCats h3{
        text-align:center;
    }
    #subscribeCats form{
       text-align:center;
    }
    #socialMedia{
        text-align:center;
        margin-top:20px;
        margin-bottom:0;
    }
    #socialMedia .social a img{
        width:40px;
    }
    #links_Soc{
        font-size:.9rem;
    }
    .who_we_are section{
        width:95%;
    
    }
    .who_we_are h3{
        font-size:1rem;
    }
    .about_text, .about_img{
        width:100%;
    }
    .about_text p{
        padding:5px;
    }
    .vision, .mission{
        width:100%;
        margin:20px 0;
    
    }
    .vision p, .mission p{
        padding:5px;
    }
    .appointment_page, .contact_form{
        
        top:7vh;
        
    }
    #appointment_page, .contact_form form{
        width:100%;
        overflow-y: scroll;
    }
    #featured .archive{
        margin:5px auto;
        
    }
    #featured .archive a{
        color:var(--tertiaryColor);
        background:var(--primaryColor);
        padding:10px;
        border-radius:5px;  
        text-align:Center;
        
    }
    
    #appointment_page form .inputs{
        flex-wrap:wrap;
        margin:10px 0;
    }
    #appointment_page form .inputs .data{
        width:95%;
        margin:5px;
    }

}
